body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 80%;
  margin: 0 auto;
}

.header {
  padding: 10px 16px;
  background: white;
  color: black;
}

.content {
  padding: 16px;
}

.main-box {
  position: relative;
  background-color: aliceblue;
  margin: 0 auto;
  width: 100%;
  padding-top: 50%;
}

.main-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(203, 74, 74);
  background: linear-gradient(
    180deg,
    rgba(203, 74, 74, 1) 0%,
    rgba(69, 203, 73, 1) 50%,
    rgba(66, 101, 195, 1) 100%
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(203, 74, 74);
  background: linear-gradient(
    180deg,
    rgba(203, 74, 74, 1) 0%,
    rgba(69, 203, 73, 1) 50%,
    rgba(66, 101, 195, 1) 100%
  );
  border-radius: 10px;
}
