body {
  margin: 0 auto;
  font-family: "Space Mono", monospace;
}

nav {
  float: right;
  margin: auto 0;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}

li {
  float: left;
  font-family: "Press Start 2P";
  font-size: 2rem;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  width: 80%;
  margin: 0 auto;
}

#header {
  padding: 10px 16px;
  background-image: url("/img/background.png");
  color: black;
  position: fixed;
  z-index: 9000;
  overflow: auto;
  transition: all 0.5s linear;
}

#header.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.content {
  padding: 16px;
}

.section {
  height: 100vh;
}

.main-box {
  background-image: url("/img/background.png");
  margin: auto;
  margin-top: 120px;
  width: 94%;
  height: 67vh;
  box-shadow: 5px 10px 18px #888888;
}

.title-div {
  display: inline-block;
  margin-left: 40px;
}

.title-text {
  font-size: 7vh;
}

.RGB-div {
  float: right;
}

.RGB-box {
  display: block;
  padding: 5vh;
  height: 12.34vh;
  text-align: center;
}

.RGB-text {
  font-family: "Press Start 2P";
  font-size: 10.3vh;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(203, 74, 74);
  background: linear-gradient(180deg, #e06666 0%, #6aa84f 50%, #3d85c6 100%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(203, 74, 74);
  background: linear-gradient(180deg, #e06666 0%, #6aa84f 50%, #3d85c6 100%);
  border-radius: 10px;
}

.gradient {
  background: -webkit-linear-gradient(
    0deg,
    #e06666 0%,
    #6aa84f 50%,
    #3d85c6 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
