body,
html {
  height: 100%;
  background-color: aliceblue;
}

.parallax {
  /* The image used */
  /* background-image: url('img_parallax.jpg'); */
  background-color: aliceblue;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(203, 74, 74);
  background: linear-gradient(
    180deg,
    rgba(203, 74, 74, 1) 0%,
    rgba(69, 203, 73, 1) 50%,
    rgba(66, 101, 195, 1) 100%
  );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(203, 74, 74);
  background: linear-gradient(
    180deg,
    rgba(203, 74, 74, 1) 0%,
    rgba(69, 203, 73, 1) 50%,
    rgba(66, 101, 195, 1) 100%
  );
  border-radius: 10px;
}
